body { 
  font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; 
}

#map { 
  width: 100%; 
  height: 600px; 
}


.ghbtns { 
  position: relative; 
  top: 4px; 
  margin-left: 5px; 
}

a { 
  color: #0077ff; 
}

.facet-view-simple{
    width:100%;
    margin:0px;
}

.facetview_freetext {
  width: 50% !important;
}

.facetview_filters a {
  
}