html, body { 
	font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; 
}
.ghbtns { 
	position: relative; 
	top: 4px; 
	margin-left: 5px; 
}
a { 
	color: #0077ff; 
}

input:focus, textarea:focus{
	border-color: rgba(255, 980, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 98, 0, 0.075),0 0 8px rgba(255, 98, 0, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 98, 0, 0.075),0 0 8px rgba(255, 98, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(255, 98, 0, 0.075),0 0 8px rgba(255, 98, 0, 0.6);
}




.container{
	width: auto;
}
.content{
	padding: 0;
	margin: 0;
}






/* ============================================================
===============================================================
  TOP BAR
===============================================================
=============================================================*/

.fadedOut{
	opacity: 0;
}
div.navbar .container{
	height: 66px;
	background-image: url(../images/cartographer-custom.png);
}
#logoContainer{
	position: absolute;
	top: 0px;
	left: 30px;
	width: 122px;
	height: 78px;
	background-color: #000;
	border: 1px solid #292929;
	border-top: 0;
}
.navbar .logo{
	padding: 13px 0 0 24px;

	-webkit-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
}

.navbar-inner{
	background: none;
	background-color: #000;
}
.navbar .rightContainer{
	width: 660px;
	float: right;
}

#search{
	width: 275px;
	margin-top: 12px;
	padding: 10px 10px;

	-webkit-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
}

.rightContainer .button{
	background: url(../images/buttons.png) no-repeat;
	float: right;
	width: 164px;
	height: 66px;
	margin-top: 0;
	background-color: rgba(0,0,0,0.5);
	padding-top: 4px;
	padding-bottom: 4px;
	color: #fff;
	border: 0;
	border-left: 1px solid #282828;
	outline: 0;

	-webkit-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
}
.rightContainer .button:hover{
	background-color: #FF6200;
	-webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;

}
#timelineBtn{
	background-position: 30px 22px;
}
#filterBtn{
	background-position: -132px 22px;
}

/* FACET VIEW ------------------------------------------------*/
.facet-view-simple{
	display: none;
	position: absolute;
	right: 17px;
	width:660px;
	margin:0px auto 0 auto;
}
.facetview_sharesave{
	position: absolute;
	right: 200px;
	top: 5px;
}
#facetview_rightcol{
	width: 100%;
}
#facetview_filters{
	display: none;
}
.facetview_search_options_container{
	padding-top: 10px;
}
#facetview .span3{
	display:none;
}
#facetview_rightcol .facetview_freetext{
	width:430px;
}
#facetview table{
	display: block;
}
/* ============================================================
===============================================================
  INFO PANEL
===============================================================
=============================================================*/

#infoPanel{
	display: none;
	position: absolute;
	top: 210px;
	left: 30px;
	width: 330px;
	background-color: #FF8000;
	z-index: 5000;
	color: #FFF;
}
#infoPanel h1{
	font-size: 24px;
	text-align: center;
	color: #FFF;
	padding: 20px 15px;
	line-height: 1;
	background-color: #FF6200;
}
#infoPanel .clearfix{
	border-bottom: 1px solid #FF9830;
}
#infoPanel .info{
	float: left;
	width: 49.7%;
	font-size: 14px;
	padding: 13px 10px;
	/* border-left: 1px solid #FF9830; */
	box-sizing: border-box;
}
#infoPanel .labely{
	font-size: 12px;
	text-transform: uppercase;
	color: #ffdb81;
	font-weight: bold;
	letter-spacing: 1px;
}

/* ============================================================
===============================================================
  TIMELINE
===============================================================
=============================================================*/

#timelineWrap{
	display: none;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 66px;
	z-index: 1000;
	padding:70px 0px 30px;
	background-color: #000;
	border-top: 1px solid #252525;

	width: 100%;
	box-sizing: border-box;

	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}
#timelineWrap.open{
	display: block;
}
#timelineWrap.fadeIn{
	opacity:1;
}

#timeline{
	margin: 0 auto;
	width: 500px;
	height: 20px;
	box-shadow: none;
}
#timeline .date{
	margin-top: -50px;
	height: 50px;
	text-align: center;
	font-size: 32px;
	color: #FFF;
	font-weight: bold;
}
#timeline .date .dash{
	color: #777;
	padding: 0 20px;
}
.noUi-handle{
	box-shadow: none;
}
.noUi-horizontal .noUi-handle{
	height: 20px;
	top: -1px;
	background-color: #FF6200;
	border-color: #DE6F00;
}

.noUi-connect{
	box-shadow: none;
	background-color: #363636;
}

.noUi-base{
	background-color: #080808;
}
.noUi-origin.noUi-background{
	background-color: #080808;
	border: 1px solid #262626;
	box-shadow: none;
}

/* main bar */
.noUi-target{
	border-color: #262626;
}

/* inner bar */
.noUi-origin{
	top: -1px;
	border: 1px solid #4D4D4D;
	height: 20px;
}
.tooltip{
	opacity: 0;
	position: absolute;
	bottom: 30px;
	left: -24px;
	width: 80px;
	text-align: center;
	background-color: #fff;
	color: #FF6200;
	font-size: 14px;
	font-weight: bold;

	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 5px;

	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;

}
.noUi-active .tooltip{
	/* opacity: 1; */

	-webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

.tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}

/* ============================================================
===============================================================
  MAP
===============================================================
=============================================================*/
#map {
	width: 100%;
	height: 500px;
}
.leaflet-control-zoom{
	display: none;
}
.leaflet-control-attribution{
	display: none;
}


/* ============================================================
===============================================================
  CLEARFIX
===============================================================
=============================================================*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
