html, body { 
	font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; 
}
.ghbtns { 
	position: relative; 
	top: 4px; 
	margin-left: 5px; 
}
a { 
	color: #0077ff; 
}






.container{
	width: auto;
}
.content{
	padding: 0;
	margin: 0;
}





/* ============================================================
===============================================================
  TOP BAR
===============================================================
=============================================================*/
div.navbar .container{
	padding-left: 10px;
}
.navbar .rightContainer{
	float: right;
	margin-right: 10px;
}
#search{
	margin-top: 5px;
	margin-bottom: 0;
}

/* FACET VIEW ------------------------------------------------*/
.facet-view-simple{
	position: absolute;
	right: 0px;
	width:800px;
	height:600px;
	margin:20px auto 0 auto;
}

/* ============================================================
===============================================================
  TIMELINE
===============================================================
=============================================================*/

#timelineWrap{
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 1000;
	padding:50px 100px 30px;
	background-color: rgba(0,0,0,0.9);

	width: 100%;
	box-sizing: border-box;
}
#timeline{
	width: 100%;
	height: 20px;
	box-shadow: none;
}
#timeline .date{
	margin-top: -35px;
	height: 35px;
	text-align: center;
	font-size: 24px;
	color: #FFF;
}

.noUi-handle{
	box-shadow: none;
}
.noUi-horizontal .noUi-handle{
	height: 20px;
	top: -1px;
	background-color: #FF8000;
	border-color: #DE6F00;
}

.noUi-connect{
	box-shadow: none;
	background-color: #fff;
}
.noUi-base{
	background-color: #ccc;
}
.tooltip{
	opacity: 0;
	position: absolute;
	bottom: 30px;
	left: -24px;
	width: 80px;
	text-align: center;
	background-color: #fff;
	color: #000;

	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 5px;

	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;

}
.noUi-active .tooltip{
	opacity: 1;

	-webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

/* ============================================================
===============================================================
  MAP
===============================================================
=============================================================*/
#map {
	width: 100%;
	height: 500px;
}



