html, body { 
	font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; 
	overflow:hidden;
}
.ghbtns { 
	position: relative; 
	top: 4px; 
	margin-left: 5px; 
}
a { 
	color: #0077ff; 
}

input:focus, textarea:focus{
	border-color: rgba(255, 980, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 98, 0, 0.075),0 0 8px rgba(255, 98, 0, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 98, 0, 0.075),0 0 8px rgba(255, 98, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(255, 98, 0, 0.075),0 0 8px rgba(255, 98, 0, 0.6);
}




.container{
	width: auto;
}
.content{
	padding: 0;
	margin: 0;
}






/* ============================================================
===============================================================
  TOP BAR
===============================================================
=============================================================*/

.fadedOut{
	opacity: 0;
}
div.navbar .container{
	height: 66px;
	background-image: url(../images/cartographer-custom.png);
}
#logoContainer{
	position: absolute;
	top: 0px;
	left: 30px;
	width: 122px;
	height: 78px;
	background-color: #000;
	border: 1px solid #292929;
	border-top: 0;
}
.navbar .logo{
	padding: 13px 0 0 24px;

	-webkit-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
}

.navbar-inner{
	background: none;
	background-color: #000;
}
.navbar .rightContainer{
	width: 660px;
	float: right;
}

#search{
	width: 275px;
	margin-top: 12px;
	padding: 10px 10px;

	-webkit-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
}

.rightContainer .button{
	background: url(../images/buttons.png) no-repeat;
	float: right;
	width: 164px;
	height: 66px;
	margin-top: 0;
	background-color: rgba(0,0,0,0.5);
	padding-top: 4px;
	padding-bottom: 4px;
	color: #fff;
	border: 0;
	border-left: 1px solid #282828;
	outline: 0;

	-webkit-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
}
.rightContainer .button:hover{
	background-color: #FF6200;
	-webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;

}
#timelineBtn{
	background-position: 30px 22px;
}
#filterBtn{
	background-position: -132px 22px;
}

/* FACET VIEW ------------------------------------------------*/
.facet-view-simple{
	display: none;
	position: absolute;
	right: 17px;
	width:660px;
	margin:0px auto 0 auto;
}
.facetview_sharesave{
	position: absolute;
	right: 200px;
	top: 5px;
}
#facetview_rightcol{
	width: 100%;
}
#facetview_filters{
	display: none;
}
.facetview_search_options_container{
	padding-top: 10px;
}
#facetview .span3{
	display:none;
}
#facetview_rightcol .facetview_freetext{
	width:430px;
}
#facetview table{
	display: block;
}
/* ============================================================
===============================================================
  WELCOME PANEL
===============================================================
=============================================================*/

#welcomePanel{
	display: block;
	position: absolute;
	top: 210px;
	left: 30px;
	width: 330px;
	padding: 30px;
	box-sizing: border-box;
	background-color: #FF6200;
	z-index: 5000;
	color: #FFF;

	-webkit-transition: opacity 1000ms ease-out;
    -moz-transition: opacity 1000ms ease-out;
    -o-transition: opacity 1000ms ease-out;
    transition: opacity 1000ms ease-out;
}
#welcomePanel h1{
	font-size: 24px;
	text-align: center;
	color: #FFF;
	padding: 20px 15px;
	line-height: 1;
	padding-top: 0;
}
#welcomePanel p{
	color:#FFF;
	font-size: 14px;
	text-align: center;
}


/* ============================================================
===============================================================
  INFO PANEL
===============================================================
=============================================================*/

#infoPanel{
	display: none;
	position: absolute;
	top: 210px;
	left: 30px;
	width: 330px;
	background-color: #FF8000;
	z-index: 5000;
	color: #FFF;
}
#infoPanel h1{
	font-size: 24px;
	text-align: center;
	color: #FFF;
	padding: 20px 15px;
	line-height: 1;
	background-color: #FF6200;
}
#infoPanel ul{
	margin-left: 17px;
	margin-bottom: 0;
}

#infoPanel .clearfix{
	border-bottom: 1px solid #FF9830;
}
#infoPanel .info{
	float: left;
	width: 49.7%;
	font-size: 14px;
	padding: 13px 10px;
	/* border-left: 1px solid #FF9830; */
	box-sizing: border-box;
}
#infoPanel .info.type{
	width: 100%;
}
#infoPanel .labely{
	font-size: 12px;
	text-transform: uppercase;
	color: #ffdb81;
	font-weight: bold;
	letter-spacing: 1px;
}
#infoPanel .value{
	line-height: 1;
}




/* ============================================================
===============================================================
  TIMELINE
===============================================================
=============================================================*/

#timelineWrap{
	display: none;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 66px;
	z-index: 1000;
	padding:70px 0px 30px;
	background-color: #000;
	border-top: 1px solid #252525;

	width: 100%;
	box-sizing: border-box;

	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}
#timelineWrap.open{
	display: block;
}
#timelineWrap.fadeIn{
	opacity:1;
}

#timeline{
	margin: 0 auto;
	width: 500px;
	height: 20px;
	box-shadow: none;
}
#timeline .date{
	margin-top: -50px;
	height: 50px;
	text-align: center;
	font-size: 32px;
	color: #FFF;
	font-weight: bold;
}
#timeline .date .dash{
	color: #777;
	padding: 0 20px;
}
.noUi-handle{
	box-shadow: none;
}
.noUi-horizontal .noUi-handle{
	height: 20px;
	top: -1px;
	background-color: #FF6200;
	border-color: #DE6F00;
}

.noUi-connect{
	box-shadow: none;
	background-color: #363636;
}

.noUi-base{
	background-color: #080808;
}
.noUi-origin.noUi-background{
	background-color: #080808;
	border: 1px solid #262626;
	box-shadow: none;
}

/* main bar */
.noUi-target{
	border-color: #262626;
}

/* inner bar */
.noUi-origin{
	top: -1px;
	border: 1px solid #4D4D4D;
	height: 20px;
}
.tooltip{
	opacity: 0;
	position: absolute;
	bottom: 30px;
	left: -24px;
	width: 80px;
	text-align: center;
	background-color: #fff;
	color: #FF6200;
	font-size: 14px;
	font-weight: bold;

	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 5px;

	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;

}
.noUi-active .tooltip{
	/* opacity: 1; */

	-webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

.tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}


/* ============================================================
===============================================================
  FILTERS
===============================================================
=============================================================*/

#filtersWrap{
	display: none;
	opacity: 0;
	position: absolute;
	width: 660px;
	padding: 30px;
	right: 0px;
	top: 66px;
	z-index: 1000;
	color: #FFF;
	background-color: #000;
	box-sizing: border-box;

	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}
#filtersWrap.open{
	display: block;
}
#filtersWrap.fadeIn{
	opacity:1;
}
#filtersWrap .cont{
	float: left;
	width: 40%;
}
#filtersWrap h2{
	color: #FF8000;
	border-bottom: 1px solid #333;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
#filtersWrap label{
	margin-left: 5px;
	display: inline-block;
	color: #FFF;
}

#filtersWrap .visualisations{
	margin-bottom: 40px;
}


/* ============================================================
===============================================================
  MAP
===============================================================
=============================================================*/
#map {
	width: 100%;
	height: 500px;
}
.leaflet-control-zoom{
	display: none;
}
.leaflet-control-attribution{
	display: none;
}


/* ============================================================
===============================================================
  CLEARFIX
===============================================================
=============================================================*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* ============================================================
===============================================================
  LOAD SCREEN
===============================================================
=============================================================*/

#loading{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	background-color: rgba(0,0,0,0.9);
	z-index: 5200;
}
.loadlogo{
	display: block;
	margin:0 auto 70px;
}
.kart-loader{
	width: 0;
	margin: 0 auto;
	padding-right: 20px;
}


.kart-loader{position:relative}.sheath{position:absolute;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}.segment{background-color:#FF6200;border-radius:28px;height:6px;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:18px}@-webkit-keyframes segment-orbit-1{from{-webkit-transform:rotate(30deg) translate(24px);transform:rotate(30deg) translate(24px)}50%{-webkit-transform:rotate(210deg) translate(29px);transform:rotate(210deg) translate(29px)}to{-webkit-transform:rotate(390deg) translate(24px);transform:rotate(390deg) translate(24px)}}@keyframes segment-orbit-1{from{-webkit-transform:rotate(30deg) translate(24px);transform:rotate(30deg) translate(24px)}50%{-webkit-transform:rotate(210deg) translate(29px);transform:rotate(210deg) translate(29px)}to{-webkit-transform:rotate(390deg) translate(24px);transform:rotate(390deg) translate(24px)}}.sheath:nth-child(1){-webkit-animation:segment-orbit-1 1800ms infinite linear,segment-opacity-1 1125ms infinite linear;animation:segment-orbit-1 1800ms infinite linear,segment-opacity-1 1125ms infinite linear;-webkit-transform:rotate(-30deg) translate(24px);-ms-transform:rotate(-30deg) translate(24px);transform:rotate(-30deg) translate(24px)}.sheath:nth-child(1) .segment{-webkit-animation:segment-scale-1 1125ms infinite linear;animation:segment-scale-1 1125ms infinite linear}@-webkit-keyframes segment-orbit-2{from{-webkit-transform:rotate(60deg) translate(24px);transform:rotate(60deg) translate(24px)}50%{-webkit-transform:rotate(240deg) translate(29px);transform:rotate(240deg) translate(29px)}to{-webkit-transform:rotate(420deg) translate(24px);transform:rotate(420deg) translate(24px)}}@keyframes segment-orbit-2{from{-webkit-transform:rotate(60deg) translate(24px);transform:rotate(60deg) translate(24px)}50%{-webkit-transform:rotate(240deg) translate(29px);transform:rotate(240deg) translate(29px)}to{-webkit-transform:rotate(420deg) translate(24px);transform:rotate(420deg) translate(24px)}}.sheath:nth-child(2){-webkit-animation:segment-orbit-2 1800ms infinite linear,segment-opacity-2 1125ms infinite linear;animation:segment-orbit-2 1800ms infinite linear,segment-opacity-2 1125ms infinite linear;-webkit-transform:rotate(-60deg) translate(24px);-ms-transform:rotate(-60deg) translate(24px);transform:rotate(-60deg) translate(24px)}.sheath:nth-child(2) .segment{-webkit-animation:segment-scale-2 1125ms infinite linear;animation:segment-scale-2 1125ms infinite linear}@-webkit-keyframes segment-orbit-3{from{-webkit-transform:rotate(90deg) translate(24px);transform:rotate(90deg) translate(24px)}50%{-webkit-transform:rotate(270deg) translate(29px);transform:rotate(270deg) translate(29px)}to{-webkit-transform:rotate(450deg) translate(24px);transform:rotate(450deg) translate(24px)}}@keyframes segment-orbit-3{from{-webkit-transform:rotate(90deg) translate(24px);transform:rotate(90deg) translate(24px)}50%{-webkit-transform:rotate(270deg) translate(29px);transform:rotate(270deg) translate(29px)}to{-webkit-transform:rotate(450deg) translate(24px);transform:rotate(450deg) translate(24px)}}.sheath:nth-child(3){-webkit-animation:segment-orbit-3 1800ms infinite linear,segment-opacity-3 1125ms infinite linear;animation:segment-orbit-3 1800ms infinite linear,segment-opacity-3 1125ms infinite linear;-webkit-transform:rotate(-90deg) translate(24px);-ms-transform:rotate(-90deg) translate(24px);transform:rotate(-90deg) translate(24px)}.sheath:nth-child(3) .segment{-webkit-animation:segment-scale-3 1125ms infinite linear;animation:segment-scale-3 1125ms infinite linear}@-webkit-keyframes segment-orbit-4{from{-webkit-transform:rotate(120deg) translate(24px);transform:rotate(120deg) translate(24px)}50%{-webkit-transform:rotate(300deg) translate(29px);transform:rotate(300deg) translate(29px)}to{-webkit-transform:rotate(480deg) translate(24px);transform:rotate(480deg) translate(24px)}}@keyframes segment-orbit-4{from{-webkit-transform:rotate(120deg) translate(24px);transform:rotate(120deg) translate(24px)}50%{-webkit-transform:rotate(300deg) translate(29px);transform:rotate(300deg) translate(29px)}to{-webkit-transform:rotate(480deg) translate(24px);transform:rotate(480deg) translate(24px)}}.sheath:nth-child(4){-webkit-animation:segment-orbit-4 1800ms infinite linear,segment-opacity-4 1125ms infinite linear;animation:segment-orbit-4 1800ms infinite linear,segment-opacity-4 1125ms infinite linear;-webkit-transform:rotate(-120deg) translate(24px);-ms-transform:rotate(-120deg) translate(24px);transform:rotate(-120deg) translate(24px)}.sheath:nth-child(4) .segment{-webkit-animation:segment-scale-4 1125ms infinite linear;animation:segment-scale-4 1125ms infinite linear}@-webkit-keyframes segment-orbit-5{from{-webkit-transform:rotate(150deg) translate(24px);transform:rotate(150deg) translate(24px)}50%{-webkit-transform:rotate(330deg) translate(29px);transform:rotate(330deg) translate(29px)}to{-webkit-transform:rotate(510deg) translate(24px);transform:rotate(510deg) translate(24px)}}@keyframes segment-orbit-5{from{-webkit-transform:rotate(150deg) translate(24px);transform:rotate(150deg) translate(24px)}50%{-webkit-transform:rotate(330deg) translate(29px);transform:rotate(330deg) translate(29px)}to{-webkit-transform:rotate(510deg) translate(24px);transform:rotate(510deg) translate(24px)}}.sheath:nth-child(5){-webkit-animation:segment-orbit-5 1800ms infinite linear,segment-opacity-5 1125ms infinite linear;animation:segment-orbit-5 1800ms infinite linear,segment-opacity-5 1125ms infinite linear;-webkit-transform:rotate(-150deg) translate(24px);-ms-transform:rotate(-150deg) translate(24px);transform:rotate(-150deg) translate(24px)}.sheath:nth-child(5) .segment{-webkit-animation:segment-scale-5 1125ms infinite linear;animation:segment-scale-5 1125ms infinite linear}@-webkit-keyframes segment-orbit-6{from{-webkit-transform:rotate(180deg) translate(24px);transform:rotate(180deg) translate(24px)}50%{-webkit-transform:rotate(360deg) translate(29px);transform:rotate(360deg) translate(29px)}to{-webkit-transform:rotate(540deg) translate(24px);transform:rotate(540deg) translate(24px)}}@keyframes segment-orbit-6{from{-webkit-transform:rotate(180deg) translate(24px);transform:rotate(180deg) translate(24px)}50%{-webkit-transform:rotate(360deg) translate(29px);transform:rotate(360deg) translate(29px)}to{-webkit-transform:rotate(540deg) translate(24px);transform:rotate(540deg) translate(24px)}}.sheath:nth-child(6){-webkit-animation:segment-orbit-6 1800ms infinite linear,segment-opacity-6 1125ms infinite linear;animation:segment-orbit-6 1800ms infinite linear,segment-opacity-6 1125ms infinite linear;-webkit-transform:rotate(-180deg) translate(24px);-ms-transform:rotate(-180deg) translate(24px);transform:rotate(-180deg) translate(24px)}.sheath:nth-child(6) .segment{-webkit-animation:segment-scale-6 1125ms infinite linear;animation:segment-scale-6 1125ms infinite linear}@-webkit-keyframes segment-orbit-7{from{-webkit-transform:rotate(210deg) translate(24px);transform:rotate(210deg) translate(24px)}50%{-webkit-transform:rotate(390deg) translate(29px);transform:rotate(390deg) translate(29px)}to{-webkit-transform:rotate(570deg) translate(24px);transform:rotate(570deg) translate(24px)}}@keyframes segment-orbit-7{from{-webkit-transform:rotate(210deg) translate(24px);transform:rotate(210deg) translate(24px)}50%{-webkit-transform:rotate(390deg) translate(29px);transform:rotate(390deg) translate(29px)}to{-webkit-transform:rotate(570deg) translate(24px);transform:rotate(570deg) translate(24px)}}.sheath:nth-child(7){-webkit-animation:segment-orbit-7 1800ms infinite linear,segment-opacity-7 1125ms infinite linear;animation:segment-orbit-7 1800ms infinite linear,segment-opacity-7 1125ms infinite linear;-webkit-transform:rotate(-210deg) translate(24px);-ms-transform:rotate(-210deg) translate(24px);transform:rotate(-210deg) translate(24px)}.sheath:nth-child(7) .segment{-webkit-animation:segment-scale-7 1125ms infinite linear;animation:segment-scale-7 1125ms infinite linear}@-webkit-keyframes segment-orbit-8{from{-webkit-transform:rotate(240deg) translate(24px);transform:rotate(240deg) translate(24px)}50%{-webkit-transform:rotate(420deg) translate(29px);transform:rotate(420deg) translate(29px)}to{-webkit-transform:rotate(600deg) translate(24px);transform:rotate(600deg) translate(24px)}}@keyframes segment-orbit-8{from{-webkit-transform:rotate(240deg) translate(24px);transform:rotate(240deg) translate(24px)}50%{-webkit-transform:rotate(420deg) translate(29px);transform:rotate(420deg) translate(29px)}to{-webkit-transform:rotate(600deg) translate(24px);transform:rotate(600deg) translate(24px)}}.sheath:nth-child(8){-webkit-animation:segment-orbit-8 1800ms infinite linear,segment-opacity-8 1125ms infinite linear;animation:segment-orbit-8 1800ms infinite linear,segment-opacity-8 1125ms infinite linear;-webkit-transform:rotate(-240deg) translate(24px);-ms-transform:rotate(-240deg) translate(24px);transform:rotate(-240deg) translate(24px)}.sheath:nth-child(8) .segment{-webkit-animation:segment-scale-8 1125ms infinite linear;animation:segment-scale-8 1125ms infinite linear}@-webkit-keyframes segment-orbit-9{from{-webkit-transform:rotate(270deg) translate(24px);transform:rotate(270deg) translate(24px)}50%{-webkit-transform:rotate(450deg) translate(29px);transform:rotate(450deg) translate(29px)}to{-webkit-transform:rotate(630deg) translate(24px);transform:rotate(630deg) translate(24px)}}@keyframes segment-orbit-9{from{-webkit-transform:rotate(270deg) translate(24px);transform:rotate(270deg) translate(24px)}50%{-webkit-transform:rotate(450deg) translate(29px);transform:rotate(450deg) translate(29px)}to{-webkit-transform:rotate(630deg) translate(24px);transform:rotate(630deg) translate(24px)}}.sheath:nth-child(9){-webkit-animation:segment-orbit-9 1800ms infinite linear,segment-opacity-9 1125ms infinite linear;animation:segment-orbit-9 1800ms infinite linear,segment-opacity-9 1125ms infinite linear;-webkit-transform:rotate(-270deg) translate(24px);-ms-transform:rotate(-270deg) translate(24px);transform:rotate(-270deg) translate(24px)}.sheath:nth-child(9) .segment{-webkit-animation:segment-scale-9 1125ms infinite linear;animation:segment-scale-9 1125ms infinite linear}@-webkit-keyframes segment-orbit-10{from{-webkit-transform:rotate(300deg) translate(24px);transform:rotate(300deg) translate(24px)}50%{-webkit-transform:rotate(480deg) translate(29px);transform:rotate(480deg) translate(29px)}to{-webkit-transform:rotate(660deg) translate(24px);transform:rotate(660deg) translate(24px)}}@keyframes segment-orbit-10{from{-webkit-transform:rotate(300deg) translate(24px);transform:rotate(300deg) translate(24px)}50%{-webkit-transform:rotate(480deg) translate(29px);transform:rotate(480deg) translate(29px)}to{-webkit-transform:rotate(660deg) translate(24px);transform:rotate(660deg) translate(24px)}}.sheath:nth-child(10){-webkit-animation:segment-orbit-10 1800ms infinite linear,segment-opacity-10 1125ms infinite linear;animation:segment-orbit-10 1800ms infinite linear,segment-opacity-10 1125ms infinite linear;-webkit-transform:rotate(-300deg) translate(24px);-ms-transform:rotate(-300deg) translate(24px);transform:rotate(-300deg) translate(24px)}.sheath:nth-child(10) .segment{-webkit-animation:segment-scale-10 1125ms infinite linear;animation:segment-scale-10 1125ms infinite linear}@-webkit-keyframes segment-orbit-11{from{-webkit-transform:rotate(330deg) translate(24px);transform:rotate(330deg) translate(24px)}50%{-webkit-transform:rotate(510deg) translate(29px);transform:rotate(510deg) translate(29px)}to{-webkit-transform:rotate(690deg) translate(24px);transform:rotate(690deg) translate(24px)}}@keyframes segment-orbit-11{from{-webkit-transform:rotate(330deg) translate(24px);transform:rotate(330deg) translate(24px)}50%{-webkit-transform:rotate(510deg) translate(29px);transform:rotate(510deg) translate(29px)}to{-webkit-transform:rotate(690deg) translate(24px);transform:rotate(690deg) translate(24px)}}.sheath:nth-child(11){-webkit-animation:segment-orbit-11 1800ms infinite linear,segment-opacity-11 1125ms infinite linear;animation:segment-orbit-11 1800ms infinite linear,segment-opacity-11 1125ms infinite linear;-webkit-transform:rotate(-330deg) translate(24px);-ms-transform:rotate(-330deg) translate(24px);transform:rotate(-330deg) translate(24px)}.sheath:nth-child(11) .segment{-webkit-animation:segment-scale-11 1125ms infinite linear;animation:segment-scale-11 1125ms infinite linear}@-webkit-keyframes segment-orbit-12{from{-webkit-transform:rotate(360deg) translate(24px);transform:rotate(360deg) translate(24px)}50%{-webkit-transform:rotate(540deg) translate(29px);transform:rotate(540deg) translate(29px)}to{-webkit-transform:rotate(720deg) translate(24px);transform:rotate(720deg) translate(24px)}}@keyframes segment-orbit-12{from{-webkit-transform:rotate(360deg) translate(24px);transform:rotate(360deg) translate(24px)}50%{-webkit-transform:rotate(540deg) translate(29px);transform:rotate(540deg) translate(29px)}to{-webkit-transform:rotate(720deg) translate(24px);transform:rotate(720deg) translate(24px)}}.sheath:nth-child(12){-webkit-animation:segment-orbit-12 1800ms infinite linear,segment-opacity-12 1125ms infinite linear;animation:segment-orbit-12 1800ms infinite linear,segment-opacity-12 1125ms infinite linear;-webkit-transform:rotate(-360deg) translate(24px);-ms-transform:rotate(-360deg) translate(24px);transform:rotate(-360deg) translate(24px)}.sheath:nth-child(12) .segment{-webkit-animation:segment-scale-12 1125ms infinite linear;animation:segment-scale-12 1125ms infinite linear}@-webkit-keyframes segment-scale-12{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}8.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}16.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}25%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}33.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}41.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}50%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}58.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}66.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}75%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}83.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}91.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes segment-scale-12{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}8.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}16.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}25%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}33.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}41.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}50%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}58.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}66.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}75%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}83.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}91.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}@-webkit-keyframes segment-scale-11{0%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}8.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}16.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}25%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}33.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}41.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}50%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}58.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}66.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}75%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}83.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}91.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}100%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}}@keyframes segment-scale-11{0%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}8.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}16.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}25%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}33.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}41.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}50%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}58.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}66.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}75%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}83.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}91.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}100%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}}@-webkit-keyframes segment-scale-10{0%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}8.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}16.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}25%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}33.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}41.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}50%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}58.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}66.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}75%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}83.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}91.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}100%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}}@keyframes segment-scale-10{0%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}8.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}16.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}25%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}33.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}41.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}50%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}58.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}66.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}75%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}83.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}91.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}100%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}}@-webkit-keyframes segment-scale-9{0%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}8.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}16.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}25%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}33.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}41.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}50%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}58.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}66.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}75%{-webkit-transform:scaleX(1);transform:scaleX(1)}83.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}91.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}100%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}}@keyframes segment-scale-9{0%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}8.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}16.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}25%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}33.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}41.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}50%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}58.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}66.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}75%{-webkit-transform:scaleX(1);transform:scaleX(1)}83.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}91.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}100%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}}@-webkit-keyframes segment-scale-8{0%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}8.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}16.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}25%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}33.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}41.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}50%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}58.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}66.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}75%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}83.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}91.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}100%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}}@keyframes segment-scale-8{0%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}8.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}16.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}25%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}33.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}41.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}50%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}58.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}66.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}75%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}83.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}91.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}100%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}}@-webkit-keyframes segment-scale-7{0%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}8.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}16.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}25%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}33.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}41.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}50%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}58.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}66.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}75%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}83.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}91.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}100%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}}@keyframes segment-scale-7{0%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}8.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}16.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}25%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}33.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}41.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}50%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}58.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}66.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}75%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}83.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}91.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}100%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}}@-webkit-keyframes segment-scale-6{0%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}8.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}16.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}25%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}33.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}41.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}50%{-webkit-transform:scaleX(1);transform:scaleX(1)}58.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}66.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}75%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}83.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}91.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}100%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}}@keyframes segment-scale-6{0%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}8.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}16.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}25%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}33.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}41.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}50%{-webkit-transform:scaleX(1);transform:scaleX(1)}58.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}66.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}75%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}83.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}91.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}100%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}}@-webkit-keyframes segment-scale-5{0%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}8.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}16.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}25%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}33.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}41.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}58.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}66.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}75%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}83.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}91.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}100%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}}@keyframes segment-scale-5{0%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}8.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}16.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}25%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}33.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}41.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}58.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}66.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}75%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}83.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}91.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}100%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}}@-webkit-keyframes segment-scale-4{0%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}8.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}16.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}25%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}33.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}41.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}50%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}58.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}66.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}75%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}83.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}91.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}100%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}}@keyframes segment-scale-4{0%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}8.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}16.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}25%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}33.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}41.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}50%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}58.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}66.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}75%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}83.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}91.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}100%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}}@-webkit-keyframes segment-scale-3{0%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}8.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}16.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}25%{-webkit-transform:scaleX(1);transform:scaleX(1)}33.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}41.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}50%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}58.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}66.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}75%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}83.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}91.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}100%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}}@keyframes segment-scale-3{0%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}8.33333%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}16.66667%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}25%{-webkit-transform:scaleX(1);transform:scaleX(1)}33.33333%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}41.66667%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}50%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}58.33333%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}66.66667%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}75%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}83.33333%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}91.66667%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}100%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}}@-webkit-keyframes segment-scale-2{0%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}8.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}16.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}25%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}33.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}41.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}50%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}58.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}66.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}75%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}83.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}91.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}100%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}}@keyframes segment-scale-2{0%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}8.33333%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}16.66667%{-webkit-transform:scaleX(1);transform:scaleX(1)}25%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}33.33333%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}41.66667%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}50%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}58.33333%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}66.66667%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}75%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}83.33333%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}91.66667%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}100%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}}@-webkit-keyframes segment-scale-1{0%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}8.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}16.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}25%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}33.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}41.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}50%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}58.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}66.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}75%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}83.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}91.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}100%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}}@keyframes segment-scale-1{0%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}8.33333%{-webkit-transform:scaleX(1);transform:scaleX(1)}16.66667%{-webkit-transform:scaleX(0.93333);transform:scaleX(0.93333)}25%{-webkit-transform:scaleX(0.86667);transform:scaleX(0.86667)}33.33333%{-webkit-transform:scaleX(0.8);transform:scaleX(0.8)}41.66667%{-webkit-transform:scaleX(0.73333);transform:scaleX(0.73333)}50%{-webkit-transform:scaleX(0.66667);transform:scaleX(0.66667)}58.33333%{-webkit-transform:scaleX(0.6);transform:scaleX(0.6)}66.66667%{-webkit-transform:scaleX(0.53333);transform:scaleX(0.53333)}75%{-webkit-transform:scaleX(0.46667);transform:scaleX(0.46667)}83.33333%{-webkit-transform:scaleX(0.4);transform:scaleX(0.4)}91.66667%{-webkit-transform:scaleX(0.33333);transform:scaleX(0.33333)}100%{-webkit-transform:scaleX(0.26667);transform:scaleX(0.26667)}}@-webkit-keyframes segment-opacity-12{0%{opacity:1}8.33333%{opacity:.93333}16.66667%{opacity:.86667}25%{opacity:.8}33.33333%{opacity:.73333}41.66667%{opacity:.66667}50%{opacity:.6}58.33333%{opacity:.53333}66.66667%{opacity:.46667}75%{opacity:.4}83.33333%{opacity:.33333}91.66667%{opacity:.26667}100%{opacity:1}}@keyframes segment-opacity-12{0%{opacity:1}8.33333%{opacity:.93333}16.66667%{opacity:.86667}25%{opacity:.8}33.33333%{opacity:.73333}41.66667%{opacity:.66667}50%{opacity:.6}58.33333%{opacity:.53333}66.66667%{opacity:.46667}75%{opacity:.4}83.33333%{opacity:.33333}91.66667%{opacity:.26667}100%{opacity:1}}@-webkit-keyframes segment-opacity-11{0%{opacity:.93333}8.33333%{opacity:.86667}16.66667%{opacity:.8}25%{opacity:.73333}33.33333%{opacity:.66667}41.66667%{opacity:.6}50%{opacity:.53333}58.33333%{opacity:.46667}66.66667%{opacity:.4}75%{opacity:.33333}83.33333%{opacity:.26667}91.66667%{opacity:1}100%{opacity:.93333}}@keyframes segment-opacity-11{0%{opacity:.93333}8.33333%{opacity:.86667}16.66667%{opacity:.8}25%{opacity:.73333}33.33333%{opacity:.66667}41.66667%{opacity:.6}50%{opacity:.53333}58.33333%{opacity:.46667}66.66667%{opacity:.4}75%{opacity:.33333}83.33333%{opacity:.26667}91.66667%{opacity:1}100%{opacity:.93333}}@-webkit-keyframes segment-opacity-10{0%{opacity:.86667}8.33333%{opacity:.8}16.66667%{opacity:.73333}25%{opacity:.66667}33.33333%{opacity:.6}41.66667%{opacity:.53333}50%{opacity:.46667}58.33333%{opacity:.4}66.66667%{opacity:.33333}75%{opacity:.26667}83.33333%{opacity:1}91.66667%{opacity:.93333}100%{opacity:.86667}}@keyframes segment-opacity-10{0%{opacity:.86667}8.33333%{opacity:.8}16.66667%{opacity:.73333}25%{opacity:.66667}33.33333%{opacity:.6}41.66667%{opacity:.53333}50%{opacity:.46667}58.33333%{opacity:.4}66.66667%{opacity:.33333}75%{opacity:.26667}83.33333%{opacity:1}91.66667%{opacity:.93333}100%{opacity:.86667}}@-webkit-keyframes segment-opacity-9{0%{opacity:.8}8.33333%{opacity:.73333}16.66667%{opacity:.66667}25%{opacity:.6}33.33333%{opacity:.53333}41.66667%{opacity:.46667}50%{opacity:.4}58.33333%{opacity:.33333}66.66667%{opacity:.26667}75%{opacity:1}83.33333%{opacity:.933333}91.66667%{opacity:.86667}100%{opacity:.8}}@keyframes segment-opacity-9{0%{opacity:.8}8.33333%{opacity:.73333}16.66667%{opacity:.66667}25%{opacity:.6}33.33333%{opacity:.53333}41.66667%{opacity:.46667}50%{opacity:.4}58.33333%{opacity:.33333}66.66667%{opacity:.26667}75%{opacity:1}83.33333%{opacity:.933333}91.66667%{opacity:.86667}100%{opacity:.8}}@-webkit-keyframes segment-opacity-8{0%{opacity:.73333}8.33333%{opacity:.66667}16.66667%{opacity:.6}25%{opacity:.53333}33.33333%{opacity:.46667}41.66667%{opacity:.4}50%{opacity:.33333}58.33333%{opacity:.26667}66.66667%{opacity:1}75%{opacity:.93333}83.33333%{opacity:.86667}91.66667%{opacity:.8}100%{opacity:.73333}}@keyframes segment-opacity-8{0%{opacity:.73333}8.33333%{opacity:.66667}16.66667%{opacity:.6}25%{opacity:.53333}33.33333%{opacity:.46667}41.66667%{opacity:.4}50%{opacity:.33333}58.33333%{opacity:.26667}66.66667%{opacity:1}75%{opacity:.93333}83.33333%{opacity:.86667}91.66667%{opacity:.8}100%{opacity:.73333}}@-webkit-keyframes segment-opacity-7{0%{opacity:.66667}8.33333%{opacity:.6}16.66667%{opacity:.53333}25%{opacity:.46667}33.33333%{opacity:.4}41.66667%{opacity:.33333}50%{opacity:.26667}58.33333%{opacity:1}66.66667%{opacity:.93333}75%{opacity:.86667}83.33333%{opacity:.8}91.66667%{opacity:.73333}100%{opacity:.66667}}@keyframes segment-opacity-7{0%{opacity:.66667}8.33333%{opacity:.6}16.66667%{opacity:.53333}25%{opacity:.46667}33.33333%{opacity:.4}41.66667%{opacity:.33333}50%{opacity:.26667}58.33333%{opacity:1}66.66667%{opacity:.93333}75%{opacity:.86667}83.33333%{opacity:.8}91.66667%{opacity:.73333}100%{opacity:.66667}}@-webkit-keyframes segment-opacity-6{0%{opacity:.6}8.33333%{opacity:.53333}16.66667%{opacity:.46667}25%{opacity:.4}33.33333%{opacity:.33333}41.66667%{opacity:.26667}50%{opacity:1}58.33333%{opacity:.93333}66.66667%{opacity:.86667}75%{opacity:.8}83.33333%{opacity:.73333}91.66667%{acity:.66667}100%{opacity:.6}}@keyframes segment-opacity-6{0%{opacity:.6}8.33333%{opacity:.53333}16.66667%{opacity:.46667}25%{opacity:.4}33.33333%{opacity:.33333}41.66667%{opacity:.26667}50%{opacity:1}58.33333%{opacity:.93333}66.66667%{opacity:.86667}75%{opacity:.8}83.33333%{opacity:.73333}91.66667%{acity:.66667}100%{opacity:.6}}@-webkit-keyframes segment-opacity-5{0%{opacity:.53333}8.33333%{opacity:.46667}16.66667%{opacity:.4}25%{opacity:.33333}33.33333%{opacity:.26667}41.66667%{opacity:1}50%{opacity:.93333}58.33333%{opacity:.86667}66.66667%{opacity:.8}75%{opacity:.73333}83.33333%{opacity:.66667}91.66667%{opacity:.6}100%{opacity:.53333}}@keyframes segment-opacity-5{0%{opacity:.53333}8.33333%{opacity:.46667}16.66667%{opacity:.4}25%{opacity:.33333}33.33333%{opacity:.26667}41.66667%{opacity:1}50%{opacity:.93333}58.33333%{opacity:.86667}66.66667%{opacity:.8}75%{opacity:.73333}83.33333%{opacity:.66667}91.66667%{opacity:.6}100%{opacity:.53333}}@-webkit-keyframes segment-opacity-4{0%{opacity:.46667}8.33333%{opacity:.4}16.66667%{opacity:.33333}25%{opacity:.26667}33.33333%{opacity:1}41.66667%{opacity:.93333}50%{opacity:.86667}58.33333%{opacity:.8}66.66667%{opacity:.73333}75%{opacity:.66667}83.33333%{opacity:.6}91.66667%{opacity:.53333}100%{opacity:.46667}}@keyframes segment-opacity-4{0%{opacity:.46667}8.33333%{opacity:.4}16.66667%{opacity:.33333}25%{opacity:.26667}33.33333%{opacity:1}41.66667%{opacity:.93333}50%{opacity:.86667}58.33333%{opacity:.8}66.66667%{opacity:.73333}75%{opacity:.66667}83.33333%{opacity:.6}91.66667%{opacity:.53333}100%{opacity:.46667}}@-webkit-keyframes segment-opacity-3{0%{opacity:.4}8.33333%{opacity:.33333}16.66667%{opacity:.26667}25%{opacity:1}33.33333%{opacity:.93333}41.66667%{opacity:.86667}50%{opacity:.8}58.33333%{opacity:.73333}66.66667%{opacity:.66667}75%{opacity:.6}83.33333%{opacity:.53333}91.66667%{opacity:.46667}100%{opacity:.4}}@keyframes segment-opacity-3{0%{opacity:.4}8.33333%{opacity:.33333}16.66667%{opacity:.26667}25%{opacity:1}33.33333%{opacity:.93333}41.66667%{opacity:.86667}50%{opacity:.8}58.33333%{opacity:.73333}66.66667%{opacity:.66667}75%{opacity:.6}83.33333%{opacity:.53333}91.66667%{opacity:.46667}100%{opacity:.4}}@-webkit-keyframes segment-opacity-2{0%{opacity:.33333}8.33333%{opacity:.26667}16.66667%{opacity:1}25%{opacity:.93333}33.33333%{opacity:.86667}41.66667%{opacity:.8}50%{opacity:.73333}58.33333%{opacity:.66667}66.66667%{opacity:.6}75%{opacity:.53333}83.33333%{opacity:.46667}91.66667%{opacity:.4}100%{opacity:.33333}}@keyframes segment-opacity-2{0%{opacity:.33333}8.33333%{opacity:.26667}16.66667%{opacity:1}25%{opacity:.93333}33.33333%{opacity:.86667}41.66667%{opacity:.8}50%{opacity:.73333}58.33333%{opacity:.66667}66.66667%{opacity:.6}75%{opacity:.53333}83.33333%{opacity:.46667}91.66667%{opacity:.4}100%{opacity:.33333}}@-webkit-keyframes segment-opacity-1{0%{opacity:.26667}8.33333%{opacity:1}16.66667%{opacity:.93333}25%{opacity:.86667}33.33333%{opacity:.8}41.66667%{opacity:.73333}50%{opacity:.66667}58.33333%{opacity:.6}66.66667%{opacity:.53333}75%{opacity:.46667}83.33333%{opacity:.4}91.66667%{opacity:.33333}100%{opacity:.26667}}@keyframes segment-opacity-1{0%{opacity:.26667}8.33333%{opacity:1}16.66667%{opacity:.93333}25%{opacity:.86667}33.33333%{opacity:.8}41.66667%{opacity:.73333}50%{opacity:.66667}58.33333%{opacity:.6}66.66667%{opacity:.53333}75%{opacity:.46667}83.33333%{opacity:.4}91.66667%{opacity:.33333}100%{opacity:.26667}}


/* ============================================================
===============================================================
  INFOBOX KEY
===============================================================
=============================================================*/


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
